# Outputs
**/dist
!**/packages/**/__files__/**/*.js
lerna-debug.log*

# IDEs
.idea/
jsconfig.json
.vscode/

# Misc
node_modules/
npm-debug.log*
yarn-error.log*

# Mac OSX Finder files.
**/.DS_Store
.DS_Store

# Local Netlify folder
.netlify